<div class="card">
  <div class="card-header" style="background-color:#673AB7; color: white;">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveProduct()"
          [formGroup]="productForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="productNameId">Nome</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="productNameId"
                 type="text"
                 placeholder="Nome (obrigatório)"
                 formControlName="productName"
                 [ngClass]="{'is-invalid': displayMessage.productName }" />
          <span class="invalid-feedback">
            {{displayMessage.productName}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="productCodeId">Código</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="productCodeId"
                 type="text"
                 placeholder="Código (obrigatório)"
                 formControlName="productCode"
                 [ngClass]="{'is-invalid': displayMessage.productCode}" />
          <span class="invalid-feedback">
            {{displayMessage.productCode}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="priceId">Preço</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="priceId"
                 type="number"
                 placeholder="Preço (obrigatório)"
                 formControlName="price"
                 [ngClass]="{'is-invalid': displayMessage.price}" />
          <span class="invalid-feedback">
            {{displayMessage.price}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="starRatingId">Avaliação (1-5)</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="starRatingId"
                 type="number"
                 placeholder="Avaliação (1-5)"
                 formControlName="starRating"
                 [ngClass]="{'is-invalid': displayMessage.starRating}" />
          <span class="invalid-feedback">
            {{displayMessage.starRating}}
          </span>
        </div>
      </div>

      <div formArrayName="tags">
        <div class="form-group row mb-2"
             *ngFor="let tag of tags.controls; let i=index">
          <label class="col-md-2 col-form-label"
                 [attr.for]="i">Tag</label>

          <div class="col-md-8">
            <input class="form-control"
                   [id]="i"
                   type="text"
                   placeholder="Tag"
                   [formControlName]="i" />
          </div>
          <button class="col-md-1 btn btn-outline-warning btn-sm"
                  type="button"
                  title="Delete this search tag"
                  (click)="deleteTag(i)">Remover Tag
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 mb-2">
          <button class="btn btn-outline-secondary btn-sm"
                  type="button"
                  title="Add a search tag"
                  (click)="addTag()">Nova Tag
          </button>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Descrição</label>

        <div class="col-md-8">
          <textarea class="form-control"
                    id="descriptionId"
                    placeholder="Descrição"
                    rows=3
                    formControlName="description"
                    [ngClass]="{'is-invalid': displayMessage.description}"></textarea>
          <span class="invalid-feedback">
            {{ displayMessage.description}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="description">Adicionar imagem</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="imageUrlId"
                 type="text"
                 placeholder="Imagem"
                 formControlName = "imageUrl"
                 [ngClass]="{'is-invalid': (productForm.get('imageUrl').touched || productForm.get('imageUrl').dirty) && !productForm.get('imageUrl').valid }" />
          <span class="invalid-feedback">
          <span *ngIf="productForm.get('imageUrl').errors?.required">
            Informe a imagem do produto.
          </span>
        </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0"
               for="description">Deseja adicionar uma imagem?</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                type="radio"
                value="Sim"
                formControlName = "addImageOption"
                > Sim
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                type="radio"
                value="Não"
                formControlName = "addImageOption"
                > Não
            </label>
          </div>
        </div>
      </div>


      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="productForm.valid ? 'Salvar' : 'Campos pendentes de validação'"
                  [disabled]="!productForm.valid">
            Salvar
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:100px; margin-left: 20px;"
                  type="button"
                  title="Cancelar alterações"
                  [routerLink]="['/products']">
            Cancelar
          </button>
          <button class="btn btn-outline-warning"
                  style="width:100px; margin-left: 20px;"
                  type="button"
                  title="Apagar produto"
                  (click)="changeStatus()">
            Remover
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
