<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-icon-button *ngIf="opened === false" (click)="opened =! opened">
      <mat-icon *ngIf="!opened">
          menu
      </mat-icon>
    </button>
  <button mat-icon-button *ngIf="opened === true" (click)="opened =! opened">
      <mat-icon *ngIf="opened">
          close
      </mat-icon>
  </button>
  {{pageTitle}}
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)] = "opened">
      <button mat-button class="menu-button" routerLink="/welcome">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/products">
          <mat-icon>format_list_bulleted</mat-icon>
          <span>Produtos</span>
      </button>
      <button mat-button class="menu-button" routerLink="/products/0/edit">
          <mat-icon>add_box</mat-icon>
          <span>Novo Produto</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/products/pdf']">
        <mat-icon>print</mat-icon> <!-- ', product.id,'-->
        Gerar relatório
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>Sobre</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
